div {
  display: flex;
  flex-direction: column;
}
input {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 30px;
}

#photo {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 30px;
}
button {
  color: red;
  width: 50px;
  margin: auto;
}

body, html {
    height: 100%;
}
