

input {
  display: flex;
  justify-content: center;
  color: red;
  text-align: center;
  border: 3px solid green;
}

#photo {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 30px;



  /* margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px; */
}

body, html {
    height: 100%;
}
